@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --navbar-link: #060606;
  --navbar-background: #E7DED5;
  --contact-background: #D5C7A3;
  --about-title: #493628;
  --yellow-color: #ffd60a;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: "Alex Brush", cursive;
  text-align: center;
}


.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4rem;
  background-color: #FAF7F3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-part {
  background-color: var(--contact-background);
  width: 100%;
  height: 25%;
}

.img-part {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 90%;
}

.img-part img {
  width: 400px;
  height: 200px;
}

.img-part a i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: var(--about-title);
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.about-part,
.about-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-part {
  width: 100%;
}

.about-box {
  flex-direction: column;
  width: 60%;
  gap: .8rem;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #fff;
  border-radius: 25px;
  padding: 22px 40px !important;

}

.about-box h2 {
  color: var(--about-title);
  font-family: "Alex Brush", cursive;
  font-weight: 700;
  font-size: 45px;
}

.about-box .about-content {
  line-height: 1.5;
  text-align: center;
}

.about-box .about-content span {
  font-weight: 600;
  color: var(--about-title);

}

/* Customer Part */

.customer-feedback-title {
  margin: 3rem 0;
  color: var(--about-title);
  font-family: 'Alex Brush', cursive;
  font-size: 44px;
  line-height: 1.2;
}

.reviews-part {
  padding: 0 40px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.reviews-box {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 40px;
  transition: transform .4s ease;
  cursor: pointer;
  transform: translateX(-50px);
  opacity: 0;
  transition: all 1.2s;
}

.reviews-box.interect {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s;
}

.reviews-box:hover {
  transform: translateY(-4px);
}

.avatar-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-part img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--about-title);
}

.rating-box i {
  color: var(--yellow-color);
}

.reviews-card {
  display: flex;
  gap: .7rem;
  align-items: center;
  justify-content: center;
}

.reviews-card span {
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
}

.customer-comment {
  font-size: 15px;
}

.background-video {
  position: relative;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}


.background-video video {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}

/*  <div class="background-video">
      <video autoplay muted loop playsinline class="bg-video">
        <source src="Background-video.mp4" type="video/mp4">
      </video>
    </div> */

@media (max-width: 930px) {
  .avatar-part {
    flex-direction: column;
  }

  .reviews-box {
    padding: 20px !important;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 2rem;
  }

  .img-part img {
    width: 300px;
    height: auto;
  }

  .about-box {
    width: 90%;
    padding: 20px !important;
  }

  .reviews-part {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }

  .reviews-box {
    width: 100%;
    padding: 15px 20px;
    transform: translateX(0);
  }

  .reviews-box.interect {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 480px) {
  .img-part img {
    width: 250px;
  }

  .reviews-part {
    grid-template-columns: 1fr;
  }

  .about-box {
    gap: 1.7rem;
  }

  .reviews-box {
    padding: 15px;
    gap: 1.5rem;
  }

  .about-box h2 {
    font-size: 32px;
  }

  .about-box .about-content {
    font-size: 1.1rem;
  }

  .img-part img {
    width: 400px;
    height: 200px;
  }

  .img-part a i {
    top: 15px;
    left: 15px;
  }

  .custom-feedback-title {
    margin: 3rem 0 !important;
    font-size: 30px;
  }

  .background-video video {
    width: 90%;
  }

}