@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --navbar-link: #060606;
  --navbar-background: #E7DED5;
  --contact-background: #D5C7A3;
  --contact-icons: #706D54;
  --about-title: #493628;

}

h2 {
  font-family: "Alex Brush", cursive;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #FAF7F3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-links {
  margin-right: 20px;
}

.navbar-part {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar-box {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

.img-logo img {
  width: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links .navbar-items {
  list-style: none;
  display: flex;
  gap: .7rem;
}

.navbar-links .navbar-items a {
  text-decoration: none;
  font-size: 17px;
  color: var(--navbar-links);
  font-weight: 500;
  transform: all .8s;
  padding: 0 5px;
}

.navbar-links .navbar-items a:hover {
  border-bottom: 1px solid var(--navbar-link);
}

.navbar-box {
  background-color: var(--navbar-background);
}

a {
  text-decoration: none;
  cursor: pointer;
}


/* Product Box */

.product-part {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 85%;
}

.product-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  gap: .7rem;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  flex-wrap: wrap;
  transition: all .4s;
  background-color: #fff;
}

.product-box .product-title {
  font-size: 18px;
}

.product-box:hover {
  transform: translateY(-2px);
}

.price-order,
h3 {
  padding: 12px;
}

.img-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-part img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
}

.price-order {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.orderLinks {
  background-color: var(--navbar-background);
  border-radius: 15px;
  padding: 4px 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.orderLinks span i {
  color: green;
}

section:not(#contact) {
  display: flex;
  padding: 0 !important;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 100px;
}

.order-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.order-title {
  font-size: 40px;
}

.order-form-box .personal-order {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: var(--contact-icons);
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 16px;
  transition: all .4s;
}

.order-form-box .terms {
  color: var(--about-title);
  font-size: 17px;
}

.terms-service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
  cursor: pointer;
  transition: all .4s;
}

.terms-service i {
  font-size: 13px;
  color: var(--about-title);
  align-items: center;
}

.terms-box {
  width: 40%;
  display: flex;
  max-height: 0px;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--about-title);
  border-radius: 20px;
  padding: 10px 15px;
  opacity: 0;
  transition: max-height .4s;
}

.terms-box.active {
  opacity: 1;
  max-height: 400px;
}

.terms-box span {
  color: var(--about-title);
  font-weight: 600;
}

.terms-box p {
  text-align: center;
}

/* <div class="terms-box">
          <p><span>Qeyd:</span>
            Behin ödənildiyi vaxtdan 24 saat vaxt keçdikdən sonra ödənilən beh qaytrılmır. Əgər geyim itərsə və ya
            zədələnərsə, buna görə biz məsuliyyət daşımırıq
          </p>
          <p>
            Geyimin təhvil verilməsi günündən artıq vaxt keçdiyi halda, hər gecikən gün üçün geyimin ödənişinin 50%-nin
            ödənilməsi tələb olunacaq
          </p>
        </div> */

.order-form-box .personal-order:hover {
  transform: translateY(-2px);
}

/*   <div class="order-form-box">
              <h2 class="order-title">Öz Geyiminizi Tikdirmək İstəyirsiniz?</h2>
              <a href="#">Klikləyin</a>
        </div> */

/* Contact Part */
.contact-part {
  background-color: var(--contact-background);
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  gap: 3rem;
}

.contact-links {
  display: flex;
  gap: 1.2rem;
}

.contact-links a {
  color: var(--navbar-link);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  font-weight: 500;
  font-size: 18px;
}

.contact-links a i {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  background-color: var(--contact-icons);
}

.brand-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.brand-name .brand-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
}

.downward-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  transform: translateY(-12px);
}

.downward-part .foundation-name {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
}

.downward-part .creative-content {
  font-size: 20px;
}


@media (max-width :768px) {
  .img-logo img {
    width: 50px;
  }

  .navbar-links .navbar-items a {
    font-size: 16px;
    padding: 0 4px;
  }

  .product-part {
    gap: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }

  .price-p {
    font-size: 15px;
  }

  .price-order a {
    font-size: 14px;
  }

  .product-title {
    font-size: 16px !important;
  }

  .price-order,
  .product-title {
    padding: 12px;
  }

  .contact-links a {
    font-size: 16px;
  }

  .contact-links a i {
    width: 32px;
    height: 32px;
  }

}

@media (max-width: 480px) {
  .product-part {
    gap: 1rem;
    width: 100%;
  }

  .product-box {
    padding-bottom: 8px !important;
  }

  .navbar-box {
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .navbar-links {
    margin-right: 0;
  }

  .navbar-links a {
    font-size: 14px !important;
  }

  .navbar-links .navbar-items {
    gap: .4rem !important;
  }

  .navbar-links .navbar-items {
    gap: 1rem;
  }

  .price-order {
    padding: 6px !important;
  }

  .product-part {
    grid-template-columns: repeat(2, 1fr);
  }

  .order-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .order-title {
    font-size: 30px;
  }

  .order-form-box a {
    font-size: 13px;
  }

  .contact-links {
    flex-direction: row;
    gap: 1rem;
  }

  .contact-links a {
    font-size: 14px;
    text-align: center;
  }

  .brand-name .brand-title {
    font-size: 31px;
    font-weight: 500;
  }

  .downward-part .creative-content {
    font-size: 16px;
  }

  section:not(#contact) {
    padding: 0 14px !important;
  }
  .terms-service{
    gap: 3rem;
  }
  .terms-box {
    width: 70%;
  }
  .terms-box p{
    font-size: 15px;
  }
}